<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFSW</title>
    <link rel="stylesheet" href="/static/styles.css">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="centered-container">
        <div>
            <h1 class="main-text">
                Search faster.
                <br>
                Write smarter.
            </h1>
            <h5>The 5th
                Future Finance
                A.l. Challenge</h5>
            <br>
            <br>
            <div class="main-container">
                <input id="searchBar" type="text" autocomplete="off" spellcheck="false" role="combobox" aria-controls="matches" placeholder="키워드 검색 또는 파일 업로드" aria-expanded="false" aria-live="polite" class="form-control">
                <button id="searchBtn" class="btn btn-primary me-3">검색</button>
                <label id="uploadBtn" class="btn btn-success me-3">
                    파일 업로드
                    <input id="fileInput" type="file" style="display: none;" />
                </label>
            </div>
            <br>
        </div>    
    </div>
    <div class="search-container">
        <div id="result-container"></div>
        <div id="summary-container"></div>
    </div>
</body>
<script>

// document.getElementById("searchBar").addEventListener("keydown", function(e) {
//     console.log("keydown event triggered"); 
//     e.stopPropagation()
//     if (e.key === 'Enter') {
//         if (this.value) {
            
//             // 문자열 검색 API 호출 코드 작성
//             console.log("키워드 검색");

//             let container = document.getElementById('result-container');
//             let div = document.createElement('div');  // 'div'로 수정
            
//             container.appendChild(div);
//             searchKeyword();   
//         }
//     }
// });

document.getElementById("searchBtn").addEventListener("click", function(e) {
    // 문자열 검색 API 호출 코드 작성
    let container = document.getElementById('result-container');
    let div = document.createElement('div');  // 'div'로 수정
    
    container.appendChild(div);
    searchKeyword();   
});



document.getElementById("fileInput").addEventListener("change", function() {
    if (this.files && this.files.length > 0) {
        let formData = new FormData();
        formData.append('file', this.files[0]);

        // 요청을 보내기 전에 메시지를 추가합니다.
        $('.search-container').append('<div id="loadingMessage">검색 중 입니다...</div>');

        $.ajax({
            url: '/summary/',
            type: 'POST',
            data: formData,
            success: function(response) {
                // 메시지를 숨깁니다.
                $('#loadingMessage').remove();

                // 나머지 처리
                handleSummaryResponse(response);
            },
            error: function() {
                $('#result-container').html('<p>요약 중 오류가 발생했습니다.</p>');
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }
});

function searchKeyword() {
    // 사용자가 입력한 키워드 가져오기
    let keyword = document.getElementById('searchBar').value;

    // 서버에 요청 보내기
    fetch(`http://127.0.0.1:8000/search/keyword?keyword=${keyword}`)
    .then(response => response.json())
    .then(data => {
        // 결과를 웹 페이지에 렌더링하기
        let container = document.getElementById('result-container');
        container.innerHTML = '';

        let div = document.createElement('div');
        div.innerText = data.results;  
        let docNumber = 0;

        data.results.forEach(item => {
            docNumber += 1;
            let filePath = item[2];
            let fileName = item[2].split('/').pop();  // 파일 경로에서 파일명만 추출
            let recommend = (item[1] * 100).toFixed(2);
            let downloadLink = '/file/?path=' + encodeURIComponent(filePath);

            let a = document.createElement('a');
            a.href = downloadLink;
            a.textContent = fileName;  // 링크의 텍스트를 파일 이름으로 설정
            div.append(docNumber + '.');
            div.appendChild(a);
            
            let content = `
            <div class="result-text">
                ${docNumber}. 
                <br>
                <a href="${downloadLink}">${fileName}</a> | 추천도 : ${recommend}%
                <div class="docSummary" data-path="${filePath}"></div>
            </div>
            `;
            
            container.insertAdjacentHTML('beforeend', content);
            $(`.docSummary[data-path="${filePath}"]`).html('<i class="fas fa-spinner fa-spin"></i>')

            $.ajax({
                url: '/summary_by_path/',
                type: 'POST',
                data: { path: filePath },
                success: function(summaryData) {
                    // 스피너 제거하고 요약 데이터 삽입
                    const summaryElement = $(`.docSummary[data-path="${filePath}"]`)
                    summaryElement.html(summaryData.kobart_summary);
                },
                error: function() {
                    summaryElement.html('<p>요약 중 오류가 발생했습니다.</p>');
                }
            })
        });
    })
    .catch(error => {
        console.error('Error:', error);
    });
};


function handleSummaryResponse(data) {
    renderFileSummary(data.kobart_summary);
    renderSimilarDocuments(data.similar_documents);
}

function renderFileSummary(summary) {
    let newContent = '<h3>업로드 파일 요약본</h3>' + `<div>${summary}</div>` + '<br>'
    $('#summary-container').append(newContent);
}

function renderSimilarDocuments(docs) {
    let docNumber = 0;
    const html = docs.map(doc => {
        docNumber += 1;
    const downloadLink = `/file/?path=${encodeURIComponent(doc[1])}`;
    const docTitle = doc[1].split('/').pop();
    const similarity = (doc[0] * 100).toFixed(2);
    let container = document.getElementsByClassName("result-text")
    if (container) {
        container = '';
    }
    return `
        <div class="result-text">
            ${docNumber}.
            <br>
            <a href="${downloadLink}" download="${doc[1]}">${docTitle}</a> | 유사도: ${similarity}%
            <div class="docSummary" data-path="${doc[1]}"></div>
            <p></p>
            <br>
        </div>
    `;
    }).join('');
    $('#result-container').html(html);

    docs.forEach(fetchAndRenderSimilarSummary);
}

function fetchAndRenderSimilarSummary(doc) {
    const documentPath = doc[1];
    const summaryElement = $(`.docSummary[data-path="${doc[1]}"]`);
    // Font Awesome 스피너 추가
    summaryElement.html('<i class="fas fa-spinner fa-spin"></i>');

    $.ajax({
        url: '/summary_by_path/',
        type: 'POST',
        data: { path: documentPath },
        success: function(summaryData) {
            // 스피너 제거하고 요약 데이터 삽입
            summaryElement.html(summaryData.kobart_summary);
        },
        error: function() {
            summaryElement.html('<p>요약 중 오류가 발생했습니다.</p>');
        }
    });
}

</script>
</html>
