<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload .docx file</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* CSS 작성란 */
    </style>
</head>
<body>
    <h1>Main Page</h1>
    <a href="/template/similarity_files">업로드해서 비슷한 파일 찾기</a> | 
    <a href="/template/keyword_files">키워드로 비슷한 파일 찾기</a>
</body>
</html>