<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload .docx file</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* CSS 작성란 */
    </style>
</head>
<body>
    <h2>찾고싶은 파일을 업로드 해주세요.</h2>
    <form action="/summary/" enctype="multipart/form-data" method="post">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <div id="summaryContainer">
        <div class="summaryBox" id="similarDocumentsBox">
            <!-- 좌측 박스: 유사한 파일 값 -->
        </div>
        <div class="summaryBox" id="summaryBox">
            <!-- 우측 박스: 파일의 요약본 -->
        </div>
    </div>
    <div id="similarSummaryContainer"></div>
</body>
<script>
$(document).ready(function() {
    $('form').on('submit', function(event) {
        event.preventDefault(); // 기본 폼 제출을 방지

        var formData = new FormData(this);

        $.ajax({
            url: '/summary/',
            type: 'POST',
            data: formData,
            success: function(data) {   
                $('#summaryContainer').html(data);
                // 유사한 문서의 배열을 <p> 태그로 파싱
                    var similarDocumentsHTML = data.similar_documents.map(function(doc) {
                        var downloadLink = "/file/?path=" + encodeURIComponent(doc[1]);
                        let parts = doc[1].split("/");
                        let docTitle = parts[parts.length - 1];
                        let similarity = doc[0];
                        return '<div>' + "<a href='" + downloadLink + "' download='" + doc[1] + "'>" + docTitle + "</a>" + "| 유사도 :" + similarity + '</div>';
                    }).join('');

                // 값을 할당
                var similarDocumentContent = '<h3>업로드 파일과 유사한 파일</h3>' + '</div>' + similarDocumentsHTML + '</div>';
                var summaryContent = '<h3>업로드 파일 KOBART 요약본</h3><div>' + data.kobart_summary + '</div>';
                $('#summaryContainer').html(similarDocumentContent + summaryContent);

                // 유사한 문서가 있을 경우, 해당 문서를 다시 서버에 보내 요약값을 가져옴
                if (data.similar_documents.length > 0) {
                    var promises = data.similar_documents.map(function(doc) {
                        let documentPath = doc[1];
                        let documetParts = doc[1].split("/")
                        let documetTitle = documetParts[documetParts.length - 1];
                        
                        return $.ajax({
                            url: '/summary_by_path/',  // 이 API는 파일 경로를 인자로 받아 그 내용을 요약해주는 엔드포인트여야 함
                            type: 'POST',
                            data: { path: documentPath }
                        }).then(function(summaryData) {
                            var docSummaryContent = '<h3>' + documetTitle + ' 요약내용</h3>' + '<div>' + summaryData.kobart_summary + '</div>';
                            $('#similarSummaryContainer').append(docSummaryContent);
                        }).catch(function() {
                            $('#similarSummaryContainer').append('<p>' + doc[0] + ' 요약 중 오류가 발생했습니다.</p>');
                        });
                    });

                    $.when.apply($, promises).then(function() {
                        console.log('모든 요약이 완료되었습니다.')
                    });
                }
            },
            error: function() {
                // AJAX 호출 실패 시 에러 메시지 표시
                var errorMessage = '<p>요약 중 오류가 발생했습니다.</p>';
                $('#summaryContainer').html(errorMessage);
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
});

</script>

</html>
